body{
    background-color:rgb(105, 151, 180);
    margin-left: 10%;
    margin-right:10%;
    margin-top:5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header
{
    background-color: aliceblue;
    border-bottom-right-radius:20px;
    border-top-left-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-left: 10px;
    
}

header h3
{
    color: rgb(0, 89, 255);
    font-weight: 900;
    font-size: 200%;
    margin: 5px;
}
header p{
    padding-bottom: 10px;
    margin:5px;
}

main{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
article{
    background-color: aliceblue;
    border-bottom-right-radius:20px;
    border-top-left-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width:80%;
    min-height:500px;
    height: auto;
    margin-right: 30px;
}
article h1{
    margin-bottom: 0;
}
article img{
    float: left; 
    margin-right: 10px; 
    width:30%;
}
article p{
    font-size: 140%;
    margin-top: 0;
}
article p::first-letter{
    font-size: 300%;
    float:left;
    margin:0;
    padding:0;
}
div{
    background-color: aliceblue;
    border-bottom-right-radius:20px;
    border-top-left-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width:50%;
    height:200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    

}
div h2{
    padding-top: 10px;
}

div a{
    text-decoration: none;
    color:black;
    padding: 7px;
}
div a:before
{
    content:"";
    border: 2px solid rgb(0, 94, 255); 
    background-color:blue;
    display: inline-block;
    width: 10px; 
    height: 10px; 
    margin-right: 5px;
}
div a:hover
{
    color: rgb(34, 122, 93);
}
footer{
    background-color: aliceblue;
    border-bottom-right-radius:20px;
    border-top-left-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin-top: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 30px;
}

footer p{
    letter-spacing:  20px;
    font-size: 120%;
}